/*selector universal*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-color: #d1f6fe;
  margin-right: auto;
  margin-left: auto;
}
/*seccion 1 pantalla-inicio*/
.pantalla-inicio{
	background-color: #2B2B2B;
	height: 100vh;
	width: 100%;
}
.pantalla-inicio h1{
	color: #FE7E11;
	margin-top: 50vh;
}
/*inicio css del loader*/
html, body {
  height: 100%;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

/*inicio seccion 2 vista-principal*/
.vista-principal{
	background-color: #2B2B2B;
	height: 6em;
	width: 100%;
}

.logo-go-fun{
  width: 14em;
  height: auto;
  margin-left: 34em;
  margin-top: 22em;
}
/*Fin css del loader*/
/*inicio seccion 2 vista-principal*/
/*cabezera*/
.row  {
  margin-left: 0;
  margin-right: 0;
}
.menu nav{
  padding-top: 2em;
}
.navbar-default{
  border: none;
  background-color: #FFF;
  height: 7em;
}
.navbar-toggle{
  float:left;
}
.logotipo{
  width: 14em;
  height: auto;
}
.menu nav{
	padding-top: 2em;
}

header .encabezado{
	border: none;
	background-color: #000;
  width: 100%;
	height: 7em;
}

.total {
  margin: 0;
  padding: 0;
  width: 100%;
}

/*fin cabezera*/
/*imágenes principales*/
.elige{ /*h1 titulo elige tus intereses*/
  font-size: 2.4em;
  color: #fff;
  margin-top: 1em;
}

.espacio{
  padding-top: 2em; /*padding de las imágenes principales*/
  position: relative;
}

.espacio:hover{
  filter: brightness(0.6);
  cursor: pointer;
}

.cultura{ /*clase para el texto de las imágenes*/
  position: absolute;
  color:#fff;
  font-size: 2.9em;
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  padding: 5px;
  width: 100%;
  margin-bottom: 0.5em;
}
/*fin imágenes principales*/
/*Footer*/
footer{
  background-color: #333333;
  width:100%;
  height:300px;
  position: absolute;
}

#photoPrincipal {
  width: 100%;
  height: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/*Iconos*/
.redes-sociales{
  text-align: center;
}  

.redes-sociales .icons h3{
  color: #F7B617;
  padding: 30px;
  text-transform: uppercase;
}
.redes-sociales a{
  float: left;
    width: 100px;

}
.icons{
  display: inline-block;
  margin:30px;
}

.redes-sociales a i{
    font-size: 40px;
    color: #FFF;
    padding: 20px;
}


.redes-sociales a i:hover{
  color: #F7B617 ;
}

.copyright{
    color: #FFF;
    font-size: 15px;
}

#photoPrincipal {
  width: 100%;
  height: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.dos{
  padding: 0;
}
/*fin footer*/


#photoMusica{
  width: 100%;
  background-size: 100%;
  object-fit: cover;
  height: 25em;
}

/*Segundo HTML*/
#image-body{ /*body*/
  background-image: url(../images/imagenPrincipal.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.nav-cabezera{
  height: 7em; 
}


